html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*Custom Tomas CSS for Login, Forgot and ResetPassword components*/
.MuiTab-wrapper {
  display: block !important;
}

div[role="tabpanel"] div {
  padding-left: 0;
}

.MuiPaper-root.MuiMenu-paper.MuiPopover-paper {
  width: 100px !important;
  border-radius: unset !important;
  margin-top: 55px !important;
  box-shadow: none;
}